
.mt-5 {
    margin-top: 5px;
}

.panel {
    background-color: #fff;
    border-radius: 0;
    margin-bottom: 0;
    padding-bottom: 10px;
}

.panel.border-top {
    border-top: 2px solid #4A6085;
}

.styled-select {
    border: 1px solid #ccc;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
}
.styled-select select {
    height: 22px;
    padding-left: 5px;
    background: transparent;
    border: none;
    -webkit-appearance: none;
    cursor: pointer;
    position: relative;
    width: 100%;
    z-index: 99;
}
.caret-container {
    background-color: #E9E9E9;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 20px;
}
.statustooltip {
    position: relative;
    border-bottom: 1px dotted black;
    opacity: initial !important;
    border-bottom: none;
    color:  white;
}
.statustooltip .statustooltiptext {
    visibility: hidden;
    width: 55px;
    background-color: rgba(84, 80, 80, 0.82);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    position: absolute;
    z-index: 1000;
    bottom: 40%;
    /* bottom: 83%; */
    left: 0%;
    
}
 .statustooltip .statustooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}  
.statustooltip:hover .statustooltiptext {
    visibility: visible;
} 

.ico-usedIp {
	background: url(../../imgs/Used_IP.png) left center no-repeat;
	padding-left: 20px !important;
}
.ico-usedIp1 {
	background: url(../../imgs/Used_IP.png) left center no-repeat;
	padding-left: 20px !important;
}
.ico-unusedIp {
	background: url(../../imgs/Unused_IP.png) left center no-repeat;
	padding-left: 20px !important;
} 
.disabled {
    background-color : #f3f3f3 !important;
    cursor: not-allowed !important;
    pointer-events: none;
  }
