h1, ul {
    margin: .3em 0;
}

.diffs {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
}
    .diffs header * {
        display: inline-block;
        vertical-align: middle;
    }

    .diffs .compare-wrapper {
        flex: 1 1 auto;
        position: relative;      
    }
    .diffs #compare {
        position: absolute;
        top:0; left:0; bottom:0; right:0;
    
}

/* Auto-height fix */
.mergely-column .CodeMirror {
    height: 100%;
}

p table tr td .diff_add {
    background-color: red;
}
/* #accordion {
    /* display: block;
    border: 1px solid black;
    padding: 2%;
    height: 96%;
    margin-top: 1%;
    overflow: scroll; 
    display: block;
    		border: 1px solid black;
    		padding: 1%;
    		width: 85%;
    		height: 54%;
    		overflow: scroll;
    		margin-left: 7%;
} */

#summaryData {
    display: block;
    border: 1px solid black;
    padding: 2%;
    height: 96%;
    margin-top: 1%;
    overflow: scroll;
    font-family: cursive;
    font-size: 12px;
}

#summaryData .sectionName {
    color: red;
}

#accordion {
    display: block;
    border: 1px solid black;
    padding: 2%;
    height: 96%;
    margin-top: 1%;
    overflow: scroll;
    font-family: cursive;
    font-size: 12px;
}

.popUpContainerSummary {
    background-color: white;
    height: 529px;
    border-top: none;
    font-family: inherit;
    font-size: inherit;
    width: 90%;
    margin-left: 5%; 
}

.popUpContainerDetails{
    overflow: auto;
    background-color: white;
    height: 529px;
    border-top: none;
    font-family: inherit;
    font-size: inherit;
    /* overflow: scroll; */
    width: 90%;
    margin-left: 5%;
}


/* #accordion .diff tr td {
    line-height: 2.428571 !important;  
    max-width: 0px !important;
    width: 0px !important; 
}

#accordion table>tbody>tr>td {
    line-height: 1.428571 !important;  
    max-width: 0px !important;
    width: 0px !important;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;   
} */


