.db-result-section{
    padding:4px;
    margin-top: 10px;
}
.panel{
    padding-bottom:90px;
}
select.ng-valid{
	border: 1px solid #a5a5a5;
  }
.styled-select {
    border: 1px solid #ccc;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
}
.styled-select select {
    height: 22px;
    padding-left: 5px;
    background: transparent;
    border: none;
    -webkit-appearance: none;
    cursor: pointer;
    position: relative;
    width: 100%;
    z-index: 99;
}
.caret-container {
    background-color: #E9E9E9;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 20px;
}
.select.disabled{
    background-color:  #ccc;
}
.mb-15 {
    margin-top: 17px;
}